<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Socket Basico</title>
  </head>
  <body>    
    <div>
      <h1 >Usuarios</h1>
      <div id="notificaciones"></div>
    </div>    
    <div>
      <h1>Chat</h1>
      <div id="salida">
        <div  id="avisos"></div>
      </div>

      <!-- <input type="text" class="usuario" id="usuario" name="usuario" value="<%= usuario %>" hidden> -->
      <input type="text" class="usuario" id="usuario" name="usuario" value="Nicolas" hidden>
      <br><br>
      <input type="text" class="mensaje" id="mensaje" placeholder="Mensaje" required>
      
      <button class="botonEnvio" id="enviar">Enviar</button>
    </div>

    <script src="js/socket.io.js"></script>
    <script src="/app.js"></script>
    <script src="js/logica.js" charset="utf-8"></script>
  </body>
</html>